.Customers table tbody tr td {
  vertical-align: middle;
}

.Customers table tbody tr td:last-child {
  padding-right: 0;
}

.Customers table tbody tr td .btn:not(:first-child) {
  margin-left: 10px;
}
