@import '../../stylesheets/colors';

.ToggleSwitch {
  display: inline-block;
  width: 48px;
  height: 20px;
  padding: 2px 4px;
  background: $success;
  border-radius: 100px;
  transition: background 200ms ease;
  text-align: left;

  &:hover {
    cursor: pointer;
  }
}

.ToggleSwitch .handle {
  display: inline-block;
  width: 30px;
  height: 14px;
  background: #fff;
  border-radius: 100px;
  font-size: 12px;
  text-transform: uppercase;
  color: $success;
  text-align: center;
  transition: all 200ms ease-in-out;

  .handle-label {
    display: none;
    // display: inline-block;
    margin-top: 3px;
    font-weight: 600;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.ToggleSwitch.no {
  background: $danger;

  .handle {
    transform: translateX(10px);
  }

  .handle-label {
    color: $danger;
  }
}
